body {
    margin: 0;
    height: 100vh;
}

#game {
    position: fixed;
    width: 50vh;
    height: 70vh;
    top: 20vh;
    left: calc(50vw - 25vh);
    pointer-events: none;
}

#game.gameover {
    filter: saturate(0.3) brightness(0.9);
}

#game_field_box {
    position: absolute;
    background: linear-gradient(transparent 0%, #eee 40%, #ccc 100%);
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    border: 0.5vh solid #555;
    border-top: none;
    width: 100%;
    height: 100%;
}

.ball {
    --x: 0.5;
    --y: 0.5;
    --rt: 0.0;
    left: calc(var(--x) * 50vh - var(--r) * 25vh);
    top: calc(70vh - var(--y) * 50vh - var(--r) * 25vh);
    position: absolute;
    width: calc(var(--r) * 50vh);
    height: calc(var(--r) * 50vh);
    background-size: cover;
    transform: rotate(calc(var(--rt) * 1rad));
}

#ball_prv {
    filter: opacity(0.5);
}

#score {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 3vh;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #999;
    pointer-events: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
}

.b_1 { background-image: url("balls/1.png"); --r: 0.05; }
.b_2 { background-image: url("balls/2.png"); --r: 0.10; }
.b_3 { background-image: url("balls/3.png"); --r: 0.15; }
.b_4 { background-image: url("balls/4.png"); --r: 0.20; }
.b_5 { background-image: url("balls/5.png"); --r: 0.25; }
.b_6 { background-image: url("balls/6.png"); --r: 0.30; }
.b_7 { background-image: url("balls/7.png"); --r: 0.35; }
.b_8 { background-image: url("balls/8.png"); --r: 0.40; }
.b_9 { background-image: url("balls/9.png"); --r: 0.45; }
.b_10 { background-image: url("balls/10.png"); --r: 0.50; }